//
// Common.xcconfig
//
// Copyright (C) 2024-present, Celestia Development Team
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.

CURRENT_PROJECT_VERSION = 1;
DEFINES_MODULE = YES;
DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = 1;
DYLIB_INSTALL_NAME_BASE = @rpath
INFOPLIST_FILE = Info.plist
FRAMEWORK_VERSION = A
MACH_O_TYPE = staticlib

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks

PRODUCT_BUNDLE_IDENTIFIER = space.celestia.CelestiaCore
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)

STRIP_INSTALLED_PRODUCT = NO
