//
// Common.xcconfig
//
// Copyright © 2021 Celestia Development Team. All rights reserved.
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//

CURRENT_PROJECT_VERSION = 1;
DEFINES_MODULE = YES;
DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = 1;
DYLIB_INSTALL_NAME_BASE = @rpath
INFOPLIST_FILE = Info.plist
FRAMEWORK_VERSION = A
MACH_O_TYPE = staticlib

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks

PRODUCT_BUNDLE_IDENTIFIER = space.celestia.CelestiaCore
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)

THIRD_PARTY_LIB_PATH_MACCATALYST_YES = $(PROJECT_DIR)/libs/dependency/catalyst
THIRD_PARTY_LIB_PATH_MACCATALYST_NO = $(PROJECT_DIR)/libs/dependency/mac

THIRD_PARTY_LIB_PATH =
THIRD_PARTY_LIB_PATH[sdk=macosx*] = $(THIRD_PARTY_LIB_PATH_MACCATALYST_$(IS_MACCATALYST))
THIRD_PARTY_LIB_PATH[sdk=iphoneos*] = $(PROJECT_DIR)/libs/dependency/ios
THIRD_PARTY_LIB_PATH[sdk=iphonesimulator*] = $(PROJECT_DIR)/libs/dependency/iossim

SYSTEM_HEADER_SEARCH_PATHS = $(PROJECT_DIR) $(PROJECT_DIR)/../Celestia/src $(THIRD_PARTY_LIB_PATH)/include $(THIRD_PARTY_LIB_PATH)/include/miniaudio $(THIRD_PARTY_LIB_PATH)/include/meshoptimizer $(THIRD_PARTY_LIB_PATH)/include/eigen3 $(THIRD_PARTY_LIB_PATH)/include/lua $(THIRD_PARTY_LIB_PATH)/include/gettext $(THIRD_PARTY_LIB_PATH)/include/jpeg $(THIRD_PARTY_LIB_PATH)/include/libpng $(THIRD_PARTY_LIB_PATH)/include/cspice $(THIRD_PARTY_LIB_PATH)/include/freetype/freetype2 $(THIRD_PARTY_LIB_PATH)/include/icu $(THIRD_PARTY_LIB_PATH)/include/libepoxy

STRIP_INSTALLED_PRODUCT = NO
GENERATE_MASTER_OBJECT_FILE = YES

PRELINK_LIBS = $(THIRD_PARTY_LIB_PATH)/libs/libmeshoptimizer.a $(THIRD_PARTY_LIB_PATH)/libs/cspice.a $(THIRD_PARTY_LIB_PATH)/libs/liblua.a $(THIRD_PARTY_LIB_PATH)/libs/libpng16.a $(THIRD_PARTY_LIB_PATH)/libs/libintl.a $(THIRD_PARTY_LIB_PATH)/libs/libfreetype.a $(THIRD_PARTY_LIB_PATH)/libs/libjpeg.a $(THIRD_PARTY_LIB_PATH)/libs/libfmt.a $(THIRD_PARTY_LIB_PATH)/libs/libicuuc.a $(THIRD_PARTY_LIB_PATH)/libs/libicudata.a $(THIRD_PARTY_LIB_PATH)/libs/libicui18n.a $(THIRD_PARTY_LIB_PATH)/libs/libGL.a
